@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.box-container {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
}

.save-options {
  a {
    margin: 0 5px;
    background: #1a237e;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
}

a {
  cursor: pointer;
}

.disableClick {
  pointer-events: none;
  opacity: .5;
}

.user-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  input {
    margin: 5px 0;
    height: 35px;
    padding-left: 5px;
    border-radius: 5px;
    outline: none;
  }
  a {
    margin: 5px auto;
    background: #1a237e;
    color: white;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
  }
}

.save-game {
  background-color: #64b5f6;
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateX(50%) translateY(50%);
}

.scores {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  max-height: 80%;
  max-width: 35%;
  text-align: center;
  margin: auto;
  padding: 10px;
  table {
    margin: auto;
    width: 70%;
    border-spacing: 0;
    overflow-y: scroll;
    thead tr {
      background: #64b5f6;
    }
    td {
      padding: 15px;
    }
    tbody {
      tr:nth-child(odd) {
        background: #e0e0e0;
      }
      tr:nth-child(even) {
        background: white;
      }
    }
  }
  .btn {
    position: absolute;
    top: 90%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0; right: 0; bottom: 0;
    padding: 10px;
    background: red;
  }
  .btn:hover {
    color: black;
  }
}

.stopwatch {
  font-size: 18px;
}

#buttons {
  display: flex;
}

#buttons p {
  margin: 0 5px;
}

.navbar p {
  cursor: pointer;
  transition: color 0.4s;
}

#new-game:hover, #scores:hover {
  color: #1565c0;
}

#end-game:hover {
  color: #f44336;
}

.alert {
  top: 10px;
  z-index: 1;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
  color: white;
  max-width: 200px;
  border-radius: 10px;
  height: 40px;
  transition: top .3s;
}

.box {
  cursor: pointer;
  padding: 60px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid gray;
  transition: background-color 0.5s linear;
}

.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: #2196f3;
  align-items: center;
  padding: 5px 15px;
}

@media (max-width: 1300px) {
  .box-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .box {
    height: 75px;
  }
}

@media (max-width: 900px) {
  .box-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .navbar {
    flex-direction: column;
  }
  .navbar * {
    margin: 5px 0;
  }
  .scores {
    max-width: 55%;
  }
}

@media (max-width: 500px) {
  .box-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
  }
  .box {
    height: 15vh;
  }
  .save-game {
    width: 85%;
    transform: translateX(10%) translateY(50%);
  }
  .scores {
    max-width: 75%;
  }
}

@media (max-width: 400px) {
  .box-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
